<h1>Listing categories</h1>
<div id="mass_actions" style="display:none"></div>
<a href="#" class="select-all">Select All</a>
<table id="categories-table">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Uid</th>
    <th>Parent</th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="categories/new">New Category</a>
