<h1>New category</h1>

<form id="new-category" name="category">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="uid"> uid:</label>
    <input type="text" name="uid" id="uid" value="<%= uid %>" >
  </div>

  <div class="field">
    <label for="parent"> parent:</label>
    <input type="text" name="parent" id="parent" value="<%= parent %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Category" />
  </div>

</form>

<a href="#/index">Back</a>
