<h1>Listing products</h1>

<table id="products-table">
  <tr>
    <th>Uid</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Location</th>
    <th>Is mobile</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Product</a>