<div id="categories"></div>

<script type="text/javascript">
$(function() {
 TransMarket.router = new TransMarket.Routers.CategoriesRouter({categories:  <%= @categories.to_json.html_safe -%>});
 TransMarket.categories = new TransMarket.Collections.CategoriesCollection
 TransMarket.initialize_backbone();
});
</script>
